n8n_workflow/Hackaton_RAG_document.json
{
  "name": "Hackaton RAG document",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f28130e-ef8f-4e40-b31e-16eda3153213",
              "name": "testPath",
              "value": "=/data/shared/Hackaton/",
              "type": "string"
            },
            {
              "id": "a2e8d8c2-186a-4035-909c-8e835dbaa14f",
              "name": "FileName",
              "value": "=Reglas Knave",
              "type": "string"
            },
            {
              "id": "52b53e69-41a1-4acd-bf41-07e12bfb40e8",
              "name": "pdfExtension",
              "value": ".pdf",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2980,
        -180
      ],
      "id": "ffd2724a-3d5e-4bfd-8c4e-978f04a3770c",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3180,
        -180
      ],
      "id": "c4e2e723-533e-48eb-a846-30c8605bccfe",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.testPath }}{{ $json.FileName }}{{ $json.pdfExtension }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2760,
        -180
      ],
      "id": "4b1f0328-2009-49ea-abd4-47f33e00aaeb",
      "name": "Read/Write Files from Disk1",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2540,
        -180
      ],
      "id": "995140b8-3704-45f6-823e-08aa20d1ba2e",
      "name": "Extract from File1",
      "retryOnFail": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "reglas",
          "mode": "list",
          "cachedResultName": "reglas"
        },
        "options": {
          "queryName": "match_reglas"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -2000,
        -180
      ],
      "id": "c79c5213-a898-4e6b-9a9e-931554b6ddc7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "vt3Q9WgkSiugsfnS",
          "name": "Supabase hackaton"
        }
      }
    },
    {
      "parameters": {
        "model": "bge-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -2240,
        60
      ],
      "id": "85dc3a87-a91d-4fbc-8aac-9b2d46c658ac",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "L94BpXagZU1InOU1",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "FileName",
                "value": "={{ $('Edit Fields').item.json.FileName.split('.')[0] }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -2000,
        60
      ],
      "id": "9ff3ee1a-0c16-437a-bbae-2fd02c4ddeb6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -2080,
        240
      ],
      "id": "2ff19de4-30d3-48bf-9e38-7bcfe1e0bec6",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d23304d7-7574-4bb0-9d9c-e534668f9174",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5045cbec8147e6835edbf16d496f5ee0340849107d07dca439fb9c0c1a6a15a9"
  },
  "id": "fEBeJS2griNT6chB",
  "tags": [
    {
      "createdAt": "2025-03-27T16:25:08.062Z",
      "updatedAt": "2025-03-27T16:25:08.062Z",
      "id": "hGOVUt5yGSnSzBIk",
      "name": "Hackaton"
    }
  ]
}