n8n_workflow/Hackaton_main.json
{
  "name": "Hackaton main",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionID }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -380,
        160
      ],
      "id": "f59a4aca-6e28-4bcd-a5c1-1071336ccf6e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "characterDB",
        "description": "En esta herramienta contiene todo lo necesario para poder buscar, leer, editar o borrar el contenido de los personajes",
        "workflowId": {
          "__rl": true,
          "value": "zkiGyccWST8jx3RV",
          "mode": "list",
          "cachedResultName": "Character flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "way": "={{ $fromAI('way', \"si quiere crear personaje: create. Si quiere buscar:search. Si quiere borrar: delete\")}}",
            "name": "={{ $fromAI('name', \"nombre del jugador\")}}"
          },
          "matchingColumns": [
            "player_id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "way",
              "displayName": "way",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -260,
        160
      ],
      "id": "a276b89d-e3b9-401c-86ba-8ce9b3afeebd",
      "name": "characterDB"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "reglas",
          "mode": "list",
          "cachedResultName": "reglas"
        },
        "options": {
          "queryName": "match_reglas"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -244,
        362.5
      ],
      "id": "5075e7ee-7be6-44be-8fbf-b534d64b528f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "vt3Q9WgkSiugsfnS",
          "name": "Supabase hackaton"
        }
      }
    },
    {
      "parameters": {
        "model": "bge-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -156,
        560
      ],
      "id": "1fb43290-74dd-4b02-87ba-98381a3d19a6",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "L94BpXagZU1InOU1",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        52,
        360
      ],
      "id": "9cee81e6-965e-4edf-8a0f-dac31f8883c1",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "L94BpXagZU1InOU1",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=## INSTRUCCIONES PARA EL AGENTE GM (\"Señor oscuro\")\n\nEres el Game Master de un juego de rol para un solo jugador usando el sistema Knave. No eres un personaje, tu función es guiar y ejecutar mecánicas usando herramientas disponibles.\n\n### 🎮 FLUJO DE LA PARTIDA\n\n1. **Inicio**\n   - Saluda al jugador y explica un poco el juego. Básate en reglas_KNAVE\n   - Luego pregúntale si quiere: crear, cargar o borrar personaje.\n\n2. **Gestión de personaje (`characterDB`)**\n   - Usa la herramienta `characterDB` con los siguientes parámetros:\n     - `way`: puede ser `\"create\"`, `\"search\"` o `\"delete\"`\n     - `name`: nombre exacto del jugador.\n   - Para crear, también debes generar las estadísticas (3d6 → bonus y defensa), HP (1d8), y equipo.\n\n3. **Reglas del sistema (`reglas_KNAVE`)**\n   - Usa esta herramienta para resolver dudas del sistema Knave: combate, inventario, habilidades, hechizos, etc.\n\n4. **Combate (`CombatAgent`)**\n   - Presenta brevemente la situación del combate.\n   - Llama a la herramienta `CombatAgent` y pásale un `query` con:\n     - nombre del personaje\n     - sus estadísticas (bonuses y defensas)\n     - Deja que él resuelva todo el combate\n   - Muestra el resultado de la herramienta y ofrece resumen:\n     - Si gana: felicita y suma experiencia (ej. +100 XP)\n     - Si pierde: notifica que ha muerto y pregunta si quiere crear uno nuevo.\n\n5. **Actualización**\n   - Si el jugador gana, puedes sugerir que suba de nivel si acumula 1000 XP.\n   - Mejora 3 habilidades en +1 y sube HP con 1d8. Luego actualiza el personaje usando `characterDB`.\n\n---\n\n### 📌 IMPORTANTE\n\nSiempre que uses una herramienta, asegúrate de entregar los datos en el formato correcto.\n\n- Para `characterDB`:  \n  ```json\n  {\n    \"way\": \"create\",\n    \"name\": \"Ejemplo\"\n  }\n\n- Para 'CombatAgent':"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -348,
        -60
      ],
      "id": "895fe9b3-1ce6-40ca-8172-06fa6977482f",
      "name": "Señor oscuro",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "name": "reglas_KNAVE",
        "description": "=Aquí se describen todas las reglas del juego como \n\n# Jugando al juego\nHabilidades, espacios de inventario, tiradas de salvación, reacciones, combate, proezas, ventaja en combate, exitos críticos y calidad, moral, curación, monstruos, subida de nivel, magia, 100 hechizos sin niveles",
        "topK": "=5"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -140,
        162.5
      ],
      "id": "f4195729-8b96-409a-b927-b54c1cd2f52d",
      "name": "Reglas KNAVE"
    },
    {
      "parameters": {
        "name": "CombatAgent",
        "description": "Simula un combate por turnos entre un jugador y un enemigo aleatorio. Devuelve el log de rondas y resultado final",
        "workflowId": {
          "__rl": true,
          "value": "kpUir0MIjP6XcEpM",
          "mode": "list",
          "cachedResultName": "Agent Fight"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "player": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('player', `datos del personaje`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "player",
              "displayName": "player",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        156,
        160
      ],
      "id": "ce7e5f6a-32db-4698-ab71-2a147e9fb774",
      "name": "CombatAgent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -540,
        160
      ],
      "id": "3b83e228-30e6-4837-890c-33a39b990fdb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EWBuLrDkP8niqGSP",
          "name": "OpenAi account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ab2b4ed9-abed-46b1-8c14-cc37be0db3f6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        -60
      ],
      "id": "f5d17490-1031-444d-a9fe-370f4332d681",
      "name": "Webhook",
      "webhookId": "ab2b4ed9-abed-46b1-8c14-cc37be0db3f6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        356,
        -60
      ],
      "id": "0f2f8f08-78d7-4714-8889-a48f4fd99b1d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Señor oscuro",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "characterDB": {
      "ai_tool": [
        [
          {
            "node": "Señor oscuro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Reglas KNAVE",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reglas KNAVE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reglas KNAVE": {
      "ai_tool": [
        [
          {
            "node": "Señor oscuro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Señor oscuro": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CombatAgent": {
      "ai_tool": [
        [
          {
            "node": "Señor oscuro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Señor oscuro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Señor oscuro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67994cec-5b8e-49d0-a012-3c8bfe985aef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5045cbec8147e6835edbf16d496f5ee0340849107d07dca439fb9c0c1a6a15a9"
  },
  "id": "c6ynA2wwkJM50bsf",
  "tags": [
    {
      "createdAt": "2025-03-27T16:25:08.062Z",
      "updatedAt": "2025-03-27T16:25:08.062Z",
      "id": "hGOVUt5yGSnSzBIk",
      "name": "Hackaton"
    }
  ]
}